{% extends 'base.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block body %}
    <h1 class="text-light">New Category</h1>

    {{ include('categories/_form.html.twig') }}

    <a href="{{ path('app_categories_index') }}">Back to list</a>
{% endblock %}
